.page {
  min-height: 100svh;
  padding: 64px 16px 16px;
  position: relative;
}

.search {
  position: absolute;
  top: 16px;
  left: 16px;
  min-width: 580px;
  z-index: 1;
  background: var(--background);

  @media screen and (max-width: 600px) {
    min-width: unset;
  }
}
