.page {
  min-height: 100svh;
  max-width: 580px;
  margin: auto;

  display: grid;
  grid-template-rows: 0.4fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 48px;
}

@media screen and (max-width: 600px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
  }
}
